<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ui.calibration.CalibrationActivity" android:exported="false" android:theme="@style/AppTheme" />
        <receiver
            android:name=".NewBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_UNLOCKED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".recovery.InternalResetReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xda.sa2ration.action.RESET_DISPLAY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".recovery.AdbResetReceiver" android:exported="true" android:permission="android.permission.DUMP">
            <intent-filter><action android:name="com.xda.sa2ration.action.ADB_RESET_DISPLAY" /></intent-filter>
        </receiver>
        <service android:name=".tiles.MasterTileService" android:label="@string/tile_master" android:icon="@drawable/ic_tile_display" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true" />
        </service>
        <service android:name=".tiles.NextProfileTileService" android:label="@string/tile_next_profile" android:icon="@drawable/ic_tile_display" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter>
        </service>
        <service android:name=".tiles.EmergencyResetTileService" android:label="@string/tile_emergency_reset" android:icon="@drawable/ic_tile_display" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter><action android:name="android.service.quicksettings.action.QS_TILE" /></intent-filter>
        </service>
    </application>

</manifest>
